.Content1 {
  // clip-path: polygon(0 18%, 100% 0, 100% 81%, 0% 100%);
  padding: 10vh 0 0;
  color: black;
  display: flex;
  justify-content: flex-end;
  .container {
    .body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      .Content1__content {
        .header {
          margin-bottom: 20px;
          font-size: $header;
          color: $highlight-color;
        }
        .subheader {
          @include fonting($header-font-stack, $w: 300, $lh: 1.3em);
        }
        @include breakpoint(desktop) {
          text-align: right;
          flex: 2;
        }
      }
      .svg {
        width: 100%;
        max-width: 300px;
        margin: 30px auto 0;

        @include breakpoint(desktop) {
          flex: 2;
          max-width: 500px;
          margin-left: 40px;
          margin-top: 0;
        }
      }
    }
  }
}
