.Jumbo {
  position: fixed;
  margin-top: 35vh;
  left: 1rem;
  display: flex;
  align-items: center;
  background: $white; /* fallback for old browsers */
  color: $black;

  @include breakpoint(tablet) {
  }

  &__name {
    @include fonting($header-font-stack, $s: 5rem, $w: 700);

    @include breakpoint(tablet) {
      @include fonting($header-font-stack, $s: 7rem, $w: 700);
    }
  }

  &__description {
    @include fonting($header-font-stack, $s: 4rem, $w: 400, $lh: 1.2em);

    max-width: 75%;

    @include breakpoint(tablet) {
      @include fonting($header-font-stack, $s: 5rem, $w: 400, $lh: 1.2em);

    }
  }
}
