.Jumbo {
  clip-path: polygon(0 100%, 100% 65vh, 100% 0, 0 0);
  @include breakpoint(phablet) {
    clip-path: polygon(0 100%, 100% 60vh, 100% 0, 0 0);
  }
  @include breakpoint(tablet) {
    clip-path: polygon(0 100%, 100% 55vh, 100% 0, 0 0);
  }
  // z-index: 100;
  color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: #4e54c8; /* fallback for old browsers */
  background: linear-gradient(to left, #8f94fb, #4e54c8);
  &__name {
    @include fonting($header-font-stack, $s: 3em, $w: 800, $tt: uppercase);
  }

  &__contact {
    display: flex;
    flex-direction: column;
    @include breakpoint(phablet) {
      flex-direction: row;
    }

    color: white;
    font-size: $content;
    margin-bottom: 5px;

    .divider {
      width: 2px;
      height: $content;
      background: white;
      display: none;
      @include breakpoint(phablet) {
        display: block;
        margin: 10px 15px;
      }
    }

    .Jumbo__info.link {
      color: white;
      text-decoration: none;

      h5 {
        font-weight: 300;
        margin-top: 5px;
        letter-spacing: 1px;
        @include breakpoint(phablet) {
          margin: 10px 0;
        }
        @include breakpoint(laptop) {
          &:after {
            content: '';
            display: block;
            width: 20px;
            height: 1px;
            margin-top: 5px;
            background-color: $background-color;
            transition: all 400ms;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
  &__networks {
    display: flex;
    .network {
      padding: 7px;
      border-radius: 50%;
      color: $background_color;
      margin-right: 5px;
      display: block;
      transition: all 400ms;
      &:hover {
        background: $background-color;
        color: $highlight_color;
      }
      svg {
        height: 25px;
        width: 25px;
        @include breakpoint(phablet) {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
