.Jumbo {
  // z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: $black;
  // height: 75vh;
  // padding-top: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: $white; /* fallback for old browsers */

  &__name {
    @include fonting($header-font-stack, $s: 5rem, $w: 700);

    @include breakpoint(phablet) {
      @include fonting($header-font-stack, $s: 7.5rem, $w: 700);
    }

    @include breakpoint(tablet) {
      @include fonting($header-font-stack, $s: 10rem, $w: 700);
    }
  }

  &__description {
    @include fonting($header-font-stack, $s: 4rem, $w: 400, $lh: 1.2em);
    
    @include breakpoint(phablet) {
      @include fonting($header-font-stack, $s: 6rem, $w: 400, $lh: 1.2em);
    }

    @include breakpoint(tablet) {
      @include fonting($header-font-stack, $s: 7.5rem, $w: 400, $lh: 1.2em);
    }
  }
}
