.NavbarMobile {
  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    // background: pink;
  }
  &__nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 224px;
    background: rgb(237, 234, 244);
    transform: translateX(100%);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    .NavbarMobile__links {
      // border: 2px solid red;
      height: 100%;
      margin: 25px;
      margin-top: 80px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .NavbarMobile__link {
        padding: 20px 0;
        color: $highlight-color;
        @include fonting(
          $header-font-stack,
          $s: 1em,
          $w: 800,
          $tt: uppercase,
          $ls: 2px
        );
      }
    }
  }

  .NavbarMobile__nav.NavbarMobile__nav--open {
    transform: translateX(0);
    box-shadow: -4px 0px 160px -22px #484848;
  }

  div#burger {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;
    cursor: pointer;
    @include breakpoint(tablet) {
      display: none;
    }

    &.is-active {
      span {
        background-color: $highlight-color;
        transition: all 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
          width 0.6s ease-in;
        &:first-child {
          transform: rotate(45deg) translate(4px, -8px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
        }

        &:last-child {
          transform: rotate(45deg) translate(15px, -11px);
          width: 25px;
        }
      }
    }
  }

  span {
    display: block;
    height: 5px;
    background-color: $background-color;
    border-radius: 100px;
    transition: all 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
      width 0.6s ease-out;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:first-child {
      transform-origin: 0 50%;
      width: 25px;
    }

    &:nth-child(2) {
      width: 50px;
    }

    &:last-child {
      transform-origin: 100% 50%;
      width: 45px;
    }
  }
}
