@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 8px !important; }

@media screen and (min-width: 40rem) {
  html {
    font-size: calc(2rem + 6 * ((100vw - 40rem) / 680)); } }

@media screen and (min-width: 124rem) {
  html {
    font-size: 2.75rem; } }

.link {
  text-decoration: none; }

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
  margin-bottom: 1rem; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.Main {
  width: 100%; }

.Navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .Navbar__logo-link {
    border-radius: 50%;
    background: #282525;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .Navbar__logo {
    width: 2.5rem;
    transition: all 300ms; }
  .Navbar__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    transition: all 300ms; }
    .Navbar__nav--scrolled {
      background: white;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
      padding: 1.5rem 3rem; }
      .Navbar__nav--scrolled .Navbar__list-link {
        color: #282525; }
        .Navbar__nav--scrolled .Navbar__list-link:after {
          background-color: white; }
  .Navbar__link-list {
    display: none; }
    @media only screen and (min-width: 50em) {
      .Navbar__link-list {
        display: flex; } }
  .Navbar__list-link {
    cursor: pointer;
    margin-left: 20px;
    color: #282525;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    line-height: normal;
    text-transform: uppercase; }

@media only screen and (min-width: 50em) {
  .NavbarMobile {
    display: none; } }

.NavbarMobile__modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; }

.NavbarMobile__nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #282525;
  z-index: 200; }
  .NavbarMobile__nav--scrolled {
    top: 1.5rem; }

.NavbarMobile__links {
  height: 100%;
  margin: 4rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.NavbarMobile__link {
  cursor: pointer;
  padding: 3rem 0;
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: unset;
  text-transform: none; }

.NavbarMobile .burger {
  position: fixed;
  top: 5rem;
  right: 4rem;
  z-index: 300;
  cursor: pointer;
  transition: all 300ms; }
  .NavbarMobile .burger.is-active span {
    background-color: white;
    transition: all 300ms cubic-bezier(0.54, 0.1, 0.42, 1.48), width 300ms ease-in; }
    .NavbarMobile .burger.is-active span:first-child {
      transform: rotate(45deg);
      width: 2.528rem; }
    .NavbarMobile .burger.is-active span:nth-child(2) {
      transform: translateX(50%);
      opacity: 0; }
    .NavbarMobile .burger.is-active span:last-child {
      transform: rotate(-45deg);
      width: 2.528rem; }
  .NavbarMobile .burger--scrolled {
    top: 3.5rem; }

.NavbarMobile span {
  display: block;
  height: 2px;
  background-color: #282525;
  border-radius: 100px;
  transition: all 300ms cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-out; }
  .NavbarMobile span:not(:last-child) {
    margin-bottom: 5px; }
  .NavbarMobile span:first-child {
    transform-origin: left;
    width: 2rem; }
  .NavbarMobile span:nth-child(2) {
    width: 2rem; }
  .NavbarMobile span:last-child {
    transform-origin: left;
    width: 2rem; }

.Jumbo {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  background: white;
  /* fallback for old browsers */
  color: #282525; }
  .Jumbo__name {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none; }
    @media only screen and (min-width: 50em) {
      .Jumbo__name {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 7rem;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: unset;
        text-transform: none;
        top: 50%;
        transform: translateY(-50%); } }
  .Jumbo__description {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.2em;
    text-transform: none; }
    @media only screen and (min-width: 50em) {
      .Jumbo__description {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.2em;
        text-transform: none;
        top: 50%;
        transform: translateY(-50%); } }

.Page {
  position: relative;
  padding-top: 15rem;
  padding-bottom: 25rem;
  min-height: 100vh; }
  @media only screen and (min-width: 50em) {
    .Page {
      padding-bottom: 15rem; } }
  .Page__load-indicator {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 5px;
    background: #282525; }

.Header {
  background: #6a6adf;
  color: white;
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center; }
  .Header .title {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: uppercase; }

.Modal {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 214, 214, 0.801); }
  .Modal__content {
    position: relative;
    max-height: 90%;
    overflow-y: scroll;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
    background-color: white;
    border-radius: 3px;
    background-clip: padding-box;
    outline: 0;
    width: 85%; }
    @media only screen and (min-width: 50em) {
      .Modal__content {
        width: 50%; } }
  .Modal__header {
    border-radius: 20px;
    height: 50px;
    background: white;
    width: 100%; }
  .Modal__button--hide {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 500;
    background: none;
    border: none;
    color: #282525;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: unset;
    text-transform: uppercase;
    cursor: pointer; }

.Projects {
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 20px; }

.Project {
  color: #525f7f;
  background: white;
  padding: 3rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  position: relative; }
  .Project__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .Project__img {
    width: 80%;
    height: 80%;
    object-fit: contain; }
  .Project__title {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 4.5rem;
    text-transform: none;
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    color: #282525;
    cursor: pointer; }
  .Project__year {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none;
    margin: 1.5rem 0; }
  .Project__link.link {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-transform: none;
    color: #282525; }
  .Project__description {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 2.5rem;
    text-transform: none;
    padding-left: 1.5rem;
    border-left: 0.25rem solid #cfcbcb;
    color: #282525;
    margin: 2rem 0; }

.ProjectModal {
  color: #525f7f;
  background: white;
  padding: 20px;
  position: relative;
  border-radius: 20px; }
  .ProjectModal__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .ProjectModal__img {
    width: 80%;
    height: 80%;
    object-fit: contain; }
  .ProjectModal__title {
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    color: #282525;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none; }
  .ProjectModal__year {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none;
    margin: 1.5rem 0; }
  .ProjectModal__link.link {
    color: #282525;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: unset;
    text-transform: none; }
  .ProjectModal__description {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 2.5rem;
    text-transform: none;
    padding-left: 1.5rem;
    border-left: 0.25rem solid #cfcbcb;
    color: #282525;
    margin: 2rem 0; }
  .ProjectModal .Credential {
    margin: 1.5rem 0; }
    .ProjectModal .Credential__header {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: 0px;
      line-height: 3rem;
      text-transform: none; }
    .ProjectModal .Credential__role {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2rem;
      font-weight: 800;
      letter-spacing: 0px;
      line-height: 3rem;
      text-transform: none; }
    .ProjectModal .Credential__email {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 2.25rem;
      text-transform: none; }
    .ProjectModal .Credential__password {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 2.25rem;
      text-transform: none; }

.Techs {
  display: flex;
  flex-wrap: wrap; }
  .Techs__tech {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none;
    font-style: italic;
    margin: .25rem;
    transition: all 200ms;
    color: #282525; }

.Skills {
  margin-top: 4rem;
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 3rem; }
  .Skills__header {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: unset;
    text-transform: none;
    color: #282525; }

.Skill {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Skill__title {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none;
    margin-bottom: 10px; }
  .Skill__img {
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: all 300ms;
    box-shadow: 0px 10px 35px -12px rgba(0, 0, 0, 0.2); }
    .Skill__img:hover {
      box-shadow: 0px 15px 65px -12px rgba(0, 0, 0, 0.2); }

.Experiences {
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 20px; }

.Experience {
  color: #525f7f;
  background: white;
  padding: 3rem;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
  position: relative; }
  .Experience__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Experience__img {
    width: 80%;
    height: 80%;
    object-fit: contain; }
  .Experience__title {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 4.5rem;
    text-transform: none;
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    color: #282525; }
  .Experience__year {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: unset;
    text-transform: none;
    margin: 1.5rem 0; }
  .Experience__link.link {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-transform: none;
    color: #282525; }
  .Experience__description {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 2.5rem;
    text-transform: none;
    padding-left: 1.5rem;
    border-left: 0.25rem solid #cfcbcb;
    color: #282525;
    margin: 2rem 0; }

.Contact {
  padding: 20px; }
  .Contact__form {
    width: 100%; }
    .Contact__form > * {
      display: block; }
  .Contact__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem; }
  .Contact__label {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 3rem;
    text-transform: none;
    margin-bottom: 1rem; }
  .Contact__input {
    width: 100%;
    height: 6rem;
    outline: none;
    border: solid 1px #282525;
    border-radius: 3px;
    padding: 2rem;
    color: white;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 2.25rem;
    text-transform: none; }
    .Contact__input:hover {
      border-color: #282525; }
    .Contact__input:focus {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12); }
    .Contact__input--textarea {
      height: 13rem;
      resize: none; }
    .Contact__input--submit {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: unset;
      text-transform: none;
      background-color: #282525;
      border-color: #282525;
      color: white; }
      .Contact__input--submit:hover {
        background-color: #414040; }
      .Contact__input--submit:active {
        background-color: white;
        color: white; }
  .Contact--error .Contact__input {
    border-color: #dd3435;
    box-shadow: 0 0 0 2px rgba(221, 52, 53, 0.2); }
  .Contact--error .Contact__input--submit {
    border-color: #282525;
    box-shadow: none; }
    .Contact--error .Contact__input--submit:focus {
      color: white;
      box-shadow: 0 0 0 2px #cfcbcb; }
    .Contact--error .Contact__input--submit:active {
      color: #282525; }

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  padding: 3rem;
  height: 20rem; }
  @media only screen and (min-width: 37.5em) {
    .Footer {
      height: 10rem;
      flex-direction: row;
      align-items: center; } }
  .Footer__contact {
    color: #282525;
    font-size: 0.85em;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .Footer__contact {
        flex-direction: row; } }
  .Footer__info.link {
    display: inline-block;
    color: #282525;
    text-decoration: none; }
    .Footer__info.link p {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: unset;
      text-transform: none;
      letter-spacing: 1px;
      margin: 5px 10px; }
  .Footer__networks {
    display: flex; }
    .Footer__networks .network {
      padding: 7px;
      border-radius: 50%;
      color: #282525;
      margin-right: 5px;
      display: block;
      transition: all 300ms; }
      .Footer__networks .network:hover {
        background: #282525;
        color: white; }
      .Footer__networks .network svg {
        height: 25px;
        width: 25px; }
