@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
::before,
::after {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

body {
  background-color: #efefff; }

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680)); } }

@media screen and (min-width: 992px) {
  html {
    font-size: 22px; } }

.link {
  text-decoration: none; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  margin-bottom: 10px; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.Navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0;
  margin-bottom: 30px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .Navbar__nav .Navbar__logo {
    width: 50px; }
  .Navbar__nav .Navbar__link-list {
    display: none; }
    @media (min-width: 50em) {
      .Navbar__nav .Navbar__link-list {
        display: flex; } }
    .Navbar__nav .Navbar__link-list .Navbar__link {
      margin-left: 20px;
      color: white;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-transform: uppercase;
      font-size: 0.75em;
      font-weight: 800;
      letter-spacing: 3px; }

.NavbarMobile__modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; }

.NavbarMobile__nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 224px;
  background: #edeaf4;
  transform: translateX(100%);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 200; }
  .NavbarMobile__nav .NavbarMobile__links {
    height: 100%;
    margin: 25px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .NavbarMobile__nav .NavbarMobile__links .NavbarMobile__link {
      padding: 20px 0;
      color: #6a6adf;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1em;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 1em;
      text-transform: uppercase; }

.NavbarMobile .NavbarMobile__nav.NavbarMobile__nav--open {
  transform: translateX(0);
  box-shadow: -4px 0px 160px -22px #484848;
  z-index: 200; }

.NavbarMobile div#burger {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 300;
  cursor: pointer; }
  @media (min-width: 50em) {
    .NavbarMobile div#burger {
      display: none; } }
  .NavbarMobile div#burger.is-active span {
    background-color: #6a6adf;
    transition: all 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-in; }
    .NavbarMobile div#burger.is-active span:first-child {
      transform: rotate(45deg) translate(4px, -8px); }
    .NavbarMobile div#burger.is-active span:nth-child(2) {
      transform: rotate(-45deg); }
    .NavbarMobile div#burger.is-active span:last-child {
      transform: rotate(45deg) translate(15px, -11px);
      width: 25px; }

.NavbarMobile span {
  display: block;
  height: 5px;
  background-color: #efefff;
  border-radius: 100px;
  transition: all 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48), width 0.6s ease-out; }
  .NavbarMobile span:not(:last-child) {
    margin-bottom: 10px; }
  .NavbarMobile span:first-child {
    transform-origin: 0 50%;
    width: 25px; }
  .NavbarMobile span:nth-child(2) {
    width: 50px; }
  .NavbarMobile span:last-child {
    transform-origin: 100% 50%;
    width: 45px; }

.Content1 {
  padding: 10vh 0;
  color: black;
  display: flex;
  justify-content: flex-end; }
  .Content1 .container .body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; }
    .Content1 .container .body .Content1__content .header {
      margin-bottom: 20px;
      font-size: 2em;
      color: #6a6adf; }
    .Content1 .container .body .Content1__content .subheader {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 1.3em;
      text-transform: none; }
    @media (min-width: 70em) {
      .Content1 .container .body .Content1__content {
        text-align: right;
        flex: 2; } }
    .Content1 .container .body .svg {
      width: 100%;
      max-width: 300px;
      margin: 30px auto 0; }
      @media (min-width: 70em) {
        .Content1 .container .body .svg {
          flex: 2;
          max-width: 500px;
          margin-left: 40px;
          margin-top: 0; } }

.Jumbo {
  background: #6a6adf;
  clip-path: polygon(0 100%, 100% 65vh, 100% 0, 0 0);
  color: white;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: #4e54c8;
  /* fallback for old browsers */
  background: linear-gradient(to left, #8f94fb, #4e54c8); }
  @media (min-width: 37.5em) {
    .Jumbo {
      clip-path: polygon(0 100%, 100% 60vh, 100% 0, 0 0); } }
  @media (min-width: 50em) {
    .Jumbo {
      clip-path: polygon(0 100%, 100% 55vh, 100% 0, 0 0); } }
  .Jumbo__name {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: uppercase; }
  .Jumbo__contact {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.85em;
    margin-bottom: 20px; }
    @media (min-width: 37.5em) {
      .Jumbo__contact {
        flex-direction: row; } }
    .Jumbo__contact .divider {
      width: 2px;
      height: 0.85em;
      background: white;
      display: none; }
      @media (min-width: 37.5em) {
        .Jumbo__contact .divider {
          display: block;
          margin: 10px 15px; } }
    .Jumbo__contact .Jumbo__info.link {
      color: white;
      text-decoration: none; }
      .Jumbo__contact .Jumbo__info.link h5 {
        font-weight: 300;
        margin-top: 5px;
        letter-spacing: 1px; }
        @media (min-width: 37.5em) {
          .Jumbo__contact .Jumbo__info.link h5 {
            margin: 10px 0; } }
  .Jumbo__cta {
    border: 1px solid #efefff;
    color: #6a6adf;
    background: #efefff;
    border-radius: 4px;
    padding: 10px;
    font-size: 0.85em;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer; }

.Page {
  padding-top: 30px; }

.Header {
  background: #6a6adf;
  clip-path: polygon(0 100%, 100% 150px, 100% 0, 0 0);
  color: white;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #4e54c8;
  /* fallback for old browsers */
  background: linear-gradient(to left, #8f94fb, #4e54c8); }
  @media (min-width: 37.5em) {
    .Header {
      clip-path: polygon(0 100%, 100% 125px, 100% 0, 0 0); } }
  @media (min-width: 50em) {
    .Header {
      clip-path: polygon(0 100%, 100% 100px, 100% 0, 0 0); } }
  .Header .title {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: uppercase; }

.Projects {
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 20px; }
  .Projects .Project {
    color: #525f7f;
    border: 1px solid #efefff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 15px 65px -12px #b3b0d6; }
    .Projects .Project__title {
      color: #6a6adf;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 1.2em;
      text-transform: none; }
    .Projects .Project__year {
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 0.85em;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 2em;
      text-transform: none; }
    .Projects .Project__link.link {
      color: #6a6adf;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 0.8em;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1em;
      text-transform: none; }
    .Projects .Project__description {
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 0.85em;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 1.2em;
      text-transform: none;
      margin-bottom: 20px; }

.Techs {
  display: flex;
  flex-wrap: wrap; }
  .Techs__tech {
    border: 1px solid #525f7f;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1em;
    text-transform: none;
    padding: 10px;
    border-radius: 4px;
    margin: 3px;
    transition: all 200ms; }
    .Techs__tech:hover {
      color: white;
      background: #6a6adf;
      border-color: #6a6adf; }

.Skills {
  margin-top: 20px;
  display: grid;
  grid: auto-flow/repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px; }
  .Skills__header {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: none;
    color: #6a6adf; }
  .Skills .Skill {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Skills .Skill__title {
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 0.75em;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 1em;
      text-transform: none;
      margin-bottom: 10px; }
    .Skills .Skill__img {
      padding: 10px;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
      transition: all 300ms;
      box-shadow: 0px 10px 35px -12px #b3b0d6; }
      .Skills .Skill__img:hover {
        box-shadow: 0px 15px 65px -12px #adaad3; }
